<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reservas_pasajes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helper.SessionManager"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reservas_pasajes"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ProductionBusActivity"
            android:exported="false" />
        <activity
            android:name=".SearchProductionBusActivity"
            android:exported="false" />
        <activity
            android:name=".EditTicket"
            android:exported="false" />
        <activity
            android:name=".SearchEditTicket"
            android:exported="false" />
        <activity
            android:name=".OpenTravelActivity"
            android:exported="false" />
        <activity
            android:name=".CancelReservaActivity"
            android:exported="false" />
        <activity
            android:name=".ProgrammingTravelActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationListActivity"
            android:exported="false" />
        <activity
            android:name=".SelectRouteActivity"
            android:exported="false" />
        <activity
            android:name=".SubMenuActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleReservaActivity"
            android:exported="false" />
        <activity
            android:name=".PassengerActivity"
            android:exported="false" />
        <activity
            android:name=".ListaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MapBusActivity"
            android:exported="false" />
        <activity
            android:name=".ListRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".SearchRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>